{% extends "home.html" %}

{% block content %}

<style type="text/css">
    p.p1 {
        margin: 0.0px 0.0px 18.0px 0.0px;
        font: 17.0px Arial;
        color: #000000
    }

    p.p2 {
        margin: 0.0px 0.0px 18.0px 0.0px;
        font: 13.0px Arial;
        color: #000000
    }

    p.p3 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-indent: 36.0px;
        font: 17.0px Arial;
        color: #000000
    }

    p.p6 {
        margin: 0.0px 0.0px 12.0px 36.0px;
        font: 17.0px Arial;
        color: #000000
    }

    li.li4 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 11.0px Arial;
        color: #000000
    }

    li.li5 {
        margin: 0.0px 0.0px 18.0px 0.0px;
        font: 11.0px Arial;
        color: #000000
    }

    li.li7 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 11.0px Arial;
        color: #000000
    }

    ul.ul1 {
        list-style-type: disc
    }
</style>
    <div class="container">
<style type="text/css">
    p.p1 {
        margin: 0.0px 0.0px 18.0px 0.0px;
        font: 17.0px Arial;
        color: #000000
    }

    p.p2 {
        margin: 0.0px 0.0px 18.0px 0.0px;
        font: 13.0px Arial;
        color: #000000
    }

    p.p3 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-indent: 36.0px;
        font: 17.0px Arial;
        color: #000000
    }

    p.p6 {
        margin: 0.0px 0.0px 12.0px 36.0px;
        font: 17.0px Arial;
        color: #000000
    }

    li.li4 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 11.0px Arial;
        color: #000000
    }

    li.li5 {
        margin: 0.0px 0.0px 18.0px 0.0px;
        font: 11.0px Arial;
        color: #000000
    }

    li.li7 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 11.0px Arial;
        color: #000000
    }

    ul.ul1 {
        list-style-type: disc
    }
</style>
<p class="p1"><strong><span style="font-size: 22px;">UI/UX Designer for QuantUnicorn</span></strong></p>
<p class="p2"><span style="font-size: 17px;">Please send your inquiry to hr@quantunicorn.com</span></p>
<p class="p2"><span style="font-size: 17px;">Quantunicorn is a Fintech Software Development company providing big data analytics and quantitative trading strategies for global equity and derivative trading.</span><span class="Apple-converted-space" style="font-size: 17px;">&nbsp;</span></p>
<p class="p3"><strong><span style="font-size: 22px;">Responsibilities</span></strong></p>
<ul class="ul1">
    <li class="li4"><span style="font-size: 17px;">Gathering and evaluating user requirements, in collaboration with marketing, product and engineering team</span></li>
    <li class="li4"><span style="font-size: 17px;">Illustrating design ideas using storyboards, process flows and sitemaps</span></li>
    <li class="li4"><span style="font-size: 17px;">Designing graphic user interface elements, like menus, tabs and widgets</span></li>
    <li class="li4"><span style="font-size: 17px;">Build page navigation buttons and search fields</span></li>
    <li class="li4"><span style="font-size: 17px;">Develop UI mockups and prototypes that clearly illustrate how sites function and look like</span></li>
    <li class="li4"><span style="font-size: 17px;">Create original graphic designs (e.g. images, sketches and tables)</span></li>
    <li class="li4"><span style="font-size: 17px;">Prepare and present rough drafts to internal teams and key stakeholders</span></li>
    <li class="li4"><span style="font-size: 17px;">Identify and troubleshoot UX problems (e.g. responsiveness)</span></li>
    <li class="li4"><span style="font-size: 17px;">Conduct layout adjustments based on user feedback</span></li>
    <li class="li5"><span style="font-size: 17px;">Adhere to style standards on fonts, colors and images</span></li>
</ul>
<p class="p6"><strong><span style="font-size: 22px;">Requirements</span></strong></p>
<ul class="ul1">
    <li class="li4"><span style="font-size: 17px;">Part time position requires good time-management skills</span></li>
    <li class="li4"><span style="font-size: 17px;">Proven work experience as a UI/UX Designer or similar role</span></li>
    <li class="li4"><span style="font-size: 17px;">Portfolio of design projects</span></li>
    <li class="li4"><span style="font-size: 17px;">Up-to-date knowledge of design software like Adobe Illustrator and Photoshop</span></li>
    <li class="li4"><span style="font-size: 17px;">Team spirit; strong communication skills to collaborate with various stakeholders and external clients</span></li>
    <li class="li4"><span style="font-size: 17px;">BSc in Design, Computer Science or relevant field</span></li>
    <li class="li4"><span style="font-size: 17px;">Fluent in both Chinese and English</span></li>
    <li class="li4"><span style="font-size: 17px;">Work virtually with the team, no office location requirement</span></li>
    <li class="li7"><span style="font-size: 17px;">Basic knowledge of financial and stock market</span><span class="Apple-converted-space" style="font-size: 17px;">&nbsp;</span></li>
</ul>
</div>

{% endblock %}