<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" data-ng-app="demoApp">
<head >
  <div th:replace="base :: head"></div>
  <link href="/css/ticket.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header th:insert="base :: header" ></header>


<!-- Begin page content -->
<div class="container " data-ng-controller="SimpleController">
  <div class="row d-flex justify-content-center">
  <table class="table">
    <thead>
    <tr>

      <th scope="col">Trip</th>
      <th scope="col">Total</th>
      <th scope="col">BillDate</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="trip in travelHistory.trips">
      <td>RT: {{trip.departureLocation}}  {{trip.arrivalLocation}}</td>
      <td>${{travelHistory.passengers[$index].length * 200}} </td>
      <td>{{trip.createdAt}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</main>
<script>
  var demoApp = angular.module("demoApp", []);

  demoApp.controller("SimpleController", function ($scope,$http) {
    $http({
      url: '/api/v1/accounts/tickets',
      method: "GET",
    }).then(function (response){
      $scope.travelHistory = response.data
    });
  });
</script>

<footer id="footer" class="footer  mt-auto py-3 bg-dark ">

  <section class="contact-section ">
    <div class="container ">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class=" col-md-4">
          <ul class=" list-unstyled flex-column">
            <li><p class="text-light font-weight-bold">About Us</p></li>
            <li><a class="text-light " href="/">facebook</a></li>
            <li><a class="text-light " href="/">IG</a></li>
          </ul>
        </div>
        <div class=" col-md-4">
          <ul class="list-unstyled flex-column">
            <li><p class="text-light font-weight-bold">Help</p></li>
            <li><a class="text-light" href="/">Often Asked Questions</a></li>
            <li><a class="text-light" href="/">User Guide</a></li>
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!--<i class="fas fa-map-marked-alt text-primary mb-2"></i>-->
  <!--<i class="fas fa-envelope text-primary mb-2"></i>-->
  <!--<i class="fas fa-mobile-alt text-primary mb-2"></i>-->

</footer>
<script>
  function logout() {
    $.ajax({
      url:"account/logout",
      dataType: "text",
      success: function (result) {
        if (result == "logout!!!") {
          alert(result);
          window.location.href = "/login";
        } else {
          alert(result);

        }
      },
      error: function (data) {
        console.log("error");
      }
    })
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>
