<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" data-ng-app="indexApp">
<head th:insert="base :: head">
</head>
<body class="d-flex flex-column h-100">

<header th:insert="base :: header" ></header>
<div th:text="${session.username}" style="visibility: hidden"></div>
<!-- Begin page content -->
<div class="container h-100" data-ng-controller="SimpleController">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
        <div class="card h-100  justify-content-center text-center"  >

                <h4 class="card-title pt-3" th:unless="${message}">Book A Flight Right Now</h4>
                <div th:if="${message}">
                    <h2 th:text="${message}"></h2>
                </div>
                <form class="row g-3 p-3">
                    <div class="col-md-6 ">
                        <label for="DepartureDate" class="form-label">DepartureDate</label>
                        <input id="DepartureDate" type="text" class="form-control" placeholder="Departure Date" aria-label="DepartureDate" data-provide="datepicker" data-date-format="yyyy-mm-dd" ng-model="DepartureDate">

                    </div>
                    <div class="col-md-6 ">
                        <label for="ReturnDate" class="form-label">ReturnDate</label>
                        <input id="ReturnDate" type="text" class="form-control" placeholder="ReturnDate" aria-label="ReturnDate" data-provide="datepicker" data-date-format="yyyy-mm-dd" ng-model="ReturnDate">

                    </div>
                    <div class="col-12 ">
                        <input type="text" class="form-control" id="FromPlace" placeholder="From"  ng-model="FromPlace">
                    </div>

                    <div class="col-12 ">
                        <input type="text" class="form-control" id="ToPlace" placeholder="To" ng-model="ToPlace">
                    </div>
                    <div class="row mb-3 g-3">
                        <div class ="col-4">
                        <label for="colFormLabelSm" class=" col-form-label col-form-label-sm">Passanger</label>
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add More
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <div id="passengerTable"></div>
                            <select class="form-select " id="colFormLabelSm" multiple placeholder="col-form-label-lg" >
                                <option  data-ng-repeat="passenger in passengers" value={{passenger.id}} id={{passenger.id}}>{{passenger.firstName}} {{passenger.lastName}}: {{passenger.email}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <button type="submit" class="btn btn-primary" ng-click="getInput()">Confirm</button>
                    </div>
                </form>
            </div>

    </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a new passenger</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3 p-3">
                        <div class="col-md-6 ">
                            <label for="FirstName" class="form-label">FirstName</label>
                            <input type="text" class="form-control" ng-model="firstname" id="firstname" required>
                        </div>
                        <div class="col-md-6 ">
                            <label for="LastName" class="form-label">LastName</label>
                            <input type="text" class="form-control" ng-model="lastname" id="lastname" required>
                        </div>
                        <div class="col-12">
                            <label for="Contact" class="form-label">Contact</label>
                            <input type="text" class="form-control" ng-model="passemail" id="Contact" required>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createPass()" data-bs-dismiss="modal">Create Passenger</button>
                </div>
            </div>
        </div>
    </div>
</div>

</main>
<script type="text/javascript">
    function check_cookie_name(name)
    {
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) {
            console.log(match);
            return match;
        }
        else{
            console.log('wrong name');
        }
    }
    $( document ).ready(function() {
    /*    $('#datepicker').datepicker();*/

    });
    var indexApp = angular.module("indexApp", []);

    indexApp.controller("SimpleController", function ($scope,$http) {
        $scope.firstname = "";
        $scope.lastname = "";
        $scope.passemail = "";
        $scope.FromPlace = "";
        $scope.ToPlace = "";
        var accountId = check_cookie_name('accountId');

        $http({
            url: '/api/v1/accounts/passenger',
            method: "GET",
        }).then(function (response){
            $scope.passengers = response.data
        });
        $scope.getInput = function() {
            var passengers = $('#colFormLabelSm').val().join("&");
            console.log(passengers);
            $http({
                url: '/api/v1/accounts/trips',
                method: "POST",
                data:{FromPlace:$scope.FromPlace,ToPlace:$scope.ToPlace,DepartureDate:$('#DepartureDate').val(),ReturnDate:$('#ReturnDate').val(),passengerId:passengers},
            }).then(function (response){
                alert("sccuess");
                            console.log($scope.FromPlace+" "+$scope.ToPlace+" "+$scope.DepartureDate+" "+$scope.ReturnDate+" ")
                        },function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        };
        $scope.createTrip = function() {
            $http({
                url: '/api/v1/accounts/Trips',
                method: "POST",
                data:{FromPlace:$scope.FromPlace,ToPlace:$scope.ToPlace,DepartureDate:$scope.DepartureDate,ReturnDate:$scope.ReturnDate},

        }).then(function (response){

                $http({
                    url: '/api/v1/accounts/passenger',
                    method: "GET",
                }).then(function (response){
                    $scope.passengers = response.data
                });
            },function errorCallback(response) {

                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });

        };
        $scope.createPass = function() {
            var accountId = check_cookie_name('accountId');
            if(!accountId){
                return;
            }
            $http({
                url: '/api/v1/accounts/passenger',
                method: "POST",
                data:{firstName:$scope.firstname,lastName:$scope.lastname,email:$scope.passemail},

            }).then(function (response){
                $http({
                    url: '/api/v1/accounts/passenger',
                    method: "GET",
                }).then(function (response){
                    $scope.passengers = response.data
                });
            },function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });

        };
    });
</script>
<script>
    function logout() {
        $.ajax({
            url:"account/logout",
            dataType: "text",
            success: function (result) {
                if (result == "logout!!!") {
                    alert(result);
                    window.location.href = "/login";
                } else {
                    alert(result);

                }
            },
            error: function (data) {
                console.log("error");
            }
        })
    }
</script>
<footer class="footer  mt-auto py-3 bg-dark ">

    <section class="contact-section ">
        <div class="container ">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class=" col-md-4">
                    <ul class=" list-unstyled flex-column">
                        <li><p class="text-light font-weight-bold">About Us</p></li>
                        <li><a class="text-light " href="https://discord.gg/r9MfAyPmxn">facebook</a></li>
                        <li><a class="text-light " href="https://discord.gg/r9MfAyPmxn">IG</a></li>
                    </ul>
                </div>
                <div class=" col-md-4">
                    <ul class="list-unstyled flex-column">
                        <li><p class="text-light font-weight-bold">Help</p></li>
                        <li><a class="text-light" href="https://quantunicorn.zendesk.com/hc/zh-cn/sections/360012030092-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98">Often Asked Questions</a></li>
                        <li><a class="text-light" href="https://quantunicorn.zendesk.com/hc/zh-cn">User Guide</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!--<i class="fas fa-map-marked-alt text-primary mb-2"></i>-->
    <!--<i class="fas fa-envelope text-primary mb-2"></i>-->
    <!--<i class="fas fa-mobile-alt text-primary mb-2"></i>-->

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>
